
    .progress-container {
      width: 50%;
      background: #a2c8a4;
      height: 25px;
      border-radius: 5px;
      margin-top: 10px ;
      position: relative;
      overflow: hidden;
    }
    .progress-bar {
      height: 100%;
      width: 0%;
      background: #4caf50;
      border-radius: 5px;
      transition: width 0.1s;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: bold;
      font-family: Arial, sans-serif;
      
    }
 